h2 {
    padding: 20px;
    margin: 0;
}

.form-container {
    padding-left: 10%;
    padding-right: 10%;
    // flex-direction: row;
    // display: flex;
    // flex-grow: 1;
    // height: fit-content;
}

.project-name {
    height: fit-content;
}



mat-divider {
    padding: 10px 0px;
}