$sidebar-width: 20%;
$padding: 20px;

.sidebar-container {
  height: 100%;
}

mat-sidenav {
  width: $sidebar-width;
}

mat-sidenav-content {
  padding: $padding;
}

.one {
  display: absolute;
}

.two {
  display: absolute;
}

